.home {
    max-width: 90%;
    height: auto;

    margin-top: 20px;
    margin-bottom: 20px;
}

.plate {
    max-width: 90%;
    height: 170px;
}

.custo {
    color: #407543;
    font-size: 14px;
    font-weight: 700;
}