* {
    font-family: 'Century Gothic', sans-serif;
}

body {
    background-color: #C5C1C0;
}

input {
    width: 85%;

    margin-bottom: 1rem;
    padding: 0.3125rem 0.15625rem;

    border: 0;
    border-radius: 0.15625rem;
}

input:focus {
    outline: none;
    border: 1px solid grey;
    background-color: #E8F0FE;
}

button {
    width: 85%;
    background-color: #0069D8;
    color: white;

    padding: 0.625rem 1.375rem;
    margin-bottom: 1rem;

    border: 0;
    border-radius: 0.3125rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
}
 
button:hover {
    background-color: cornflowerblue;
    cursor: pointer;

    box-shadow: 0 0 1rem rgba(62, 137, 241, 0.7);
}

.container {
    background-color: white;

    border-radius: 0.3125rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);

    text-align: center;
    margin: auto;
    
    max-width: 37.5rem;
    width: 90%;
}

.title {
    font-size: 2rem;
    font-weight: 600;
}

.sub-container {
    margin-top: 1.25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container {
    background-color: #F5F5F5;

    font-size: 0.75rem;

    width: 85%;
    height: auto;

    padding: 0 1.375rem;
    margin-bottom: 1.25rem;

    border-radius: 0.3125rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
}

.card-title {
    font-weight: 600;
    font-size: 1.125rem;

    padding-top: 1rem;
    padding-bottom: 0.625rem;
}

.plates-card {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 0.625rem;
}

.card {
    width: 9.375rem;

    padding: 0.625rem 0;
    margin: 0.75rem;
    height: auto;

    border-radius: 0.3125rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);

    font-size: 0.6875rem;
    font-weight: 600;
}

.dados-pessoais {
    background-color: #F5F5F5;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 85%;
    height: auto;
    padding: 0 1.375rem;

    border-radius: 0.3125rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
}

#output {
    width: 85%;
    padding: 0.625rem 1.375rem;

    font-size: 0.75rem;
    text-align: left;
}

@media (max-width: 450px) {
    .plates-card {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .container {
        margin: 20px;
    }

    .title {
        font-size: 1.75rem;
    }
}
